@import 'mixin';
// 规定屏幕宽为750rpx
$win-width: 750rpx;

.card-wrap {
  position: relative;
  .card-mask {
    position: absolute;
    z-index: 100;
    background: none;
  }
}
.card-list {
  position: relative;
  z-index: 100;
  min-height: 700rpx;
  // todo
  .card-item {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 6rpx;
    width: 100%;
    // height: 90rpx;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 10rpx #aaa;
    .card-item-hd {
      margin: 0 40rpx;
      padding: 20rpx 0;
    }
    .card-item-bd {
      display: none;
      padding: 40rpx;
      padding-bottom: 120rpx;
    }
  }
  .card-show {
    position: fixed;
    left: 20rpx;
    right: 20rpx;
    top: 40rpx;
    z-index: 101;
    transform: none!important;
    width: auto;
    height: auto;

    .card-item-hd {
      border-bottom: 1px solid #ccc;
    }
    .card-item-bd {
      display: block;
    }
  }
  .card-hide {
    display: none;
  }
}
.card-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color: $main-color, $alpha: .4);
}
// 横排的卡片视图
$card-width: $win-width * 0.72;
$card-pos-left: ($win-width - $card-width) / 2;

.card-row {
  position: absolute;
  top: 0;
  left: 0;
  width: $win-width;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  .card {
    position: absolute;
    left: $card-pos-left;
    width: $card-width;
    top: 10%;
    height: 88%;
    border-radius: 16rpx;
    background-color: #fff;
    color: #fff;
  }
  // 1fb58f, eab126, f24c4e, 1b7834
  // a7d2cb, f2d388, c98474, 874c62, f1dcd2
  // 008f95, 946181, fc4a1a
  // bright: ff3b3f
  .card-style {
    &-0 {
      background-color: #a7d2cb;
      box-shadow: 0 0 5px rgba($color: #a7d2cb, $alpha: .4);
    }
    &-1 {
      background-color: #f2d388;
      box-shadow: 0 0 5px rgba($color: #f2d388, $alpha: .4);
    }
    &-2 {
      background-color: #946181;
      box-shadow: 0 0 5px rgba($color: #946181, $alpha: .4);
    }
    // today
    $today: #cd5360;
    &-3 {
      background-color: $today;
      box-shadow: 0 0 5px rgba($color: $today, $alpha: .4);
      // color: #656565;
    }
    // tomorrow
    &-4 {
      background-color: #df744a;
      box-shadow: 0 0 5px rgba($color: #df744a, $alpha: .4);
      // color: #656565;
    }
    &-5 {
      background-color: #1fb58f;
      box-shadow: 0 0 5px rgba($color: #1fb58f, $alpha: .4);
    }
    &-6 {
      background-color: #008f95;
      box-shadow: 0 0 5px rgba($color: #008f95, $alpha: .4);
    }
    &-7 {
      background-color: #874c62;
      box-shadow: 0 0 5px rgba($color: #874c62, $alpha: .4);
    }
    &-8 {
      background-color: #eab126;
      box-shadow: 0 0 5px rgba($color: #eab126, $alpha: .4);
    }
  }
}

