// variables
$main-color: #df744a;
// 规定屏幕宽为750rpx
$win-width: 750rpx;

// mixins
@mixin flex-center() {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /*垂直居中*/
  justify-content: center; /*水平居中*/
}
//宽高
@mixin wh($width, $height){
	width: $width;
	height: $height;
}