// variables
$main-color: #0d213c;

// mixins
@mixin flex-center() {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /*垂直居中*/
  justify-content: center; /*水平居中*/
}
//宽高
@mixin wh($width, $height){
	width: $width;
	height: $height;
}